#!/usr/bin/make -f

SIG_DIR := debian/signatures/grub-efi-amd64-bin
KEY_FILE := debian/Rolling.key
CERT_FILE := debian/Rolling-signed.pem

%:
	dh $@

override_dh_auto_build:
	# Clean previous artifacts
	rm -rf $(SIG_DIR) debian/tmp
	
	# Create directory structure
	mkdir -p $(SIG_DIR)/usr/lib/grub/x86_64-efi/monolithic
	
	for efi in /usr/lib/grub/x86_64-efi/monolithic/*.efi; do \
		bsname=$$(basename $$efi); \
		sbsign --key $(KEY_FILE) --cert $(CERT_FILE) --output "$${bsname}.signed" "$$efi"; \
		sbattach --detach "$(SIG_DIR)/usr/lib/grub/x86_64-efi/monolithic/$${bsname}.sig" \
			"$${bsname}.signed"; \
		rm -f "$${bsname}.signed"; \
	done

override_dh_auto_install:
	set -e ; \
	find "$(SIG_DIR)" -name '*.sig' -printf '%P\n' | \
	while read sig; do \
		dst="debian/tmp/$${sig%/monolithic/*}-signed/$${sig##*/}ned" ; \
		install -m 0755 -d "$${dst%/*}" ; \
		install -m 0644 "/$${sig%.sig}" "$$dst" ; \
		sbattach --attach "$(SIG_DIR)/$$sig" "$$dst" ; \
	done

override_dh_install:
	dh_install --sourcedir=debian/tmp .

